<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A current senior undergrad student (two years left, year due to transfer credits) at Kent State University. 
          Recently graduated from West Liberty-Salem high school with a STEM Honors diploma with a focus in software 
          engineering. Earned my Associate of Science Degree in Computer Science from Franklin University for the 
          Spring 2022 Semester (May 20, 2022)

          </p>
      </div>
      <div class="col-lg-4">
        In-class Experience
          <ul>
          <li>C++</li>
          <li>Java 8</li>
          <li>HTML 5</li>
          <li>SQL</li>
          <li>CSS 3</li>
          <li>Little Man Assembly</li>
          <li>Python</li>
          <li>PHP</li> 
          <li>C</li>
          <li>Scheme (very little classwork)</li>
          <li>Prolog (very little classwork)</li>
          <li>JavaScript</li>
          <li>JQuery</li>
          <li>W3.CSS</li>
          <li>Vue.JS 3 (very little classwork, only learned what was necessary to contribute to practicum project)</li>
      </div>
      
      <div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="https://github.com/eHag-FRU" class="btn btn-lg btn-outline">
                <i class="fa-brands fa-github"></i> GitHub Profile
              </a>
            
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="https://www.linkedin.com/in/elliott-hager/" class="btn btn-lg btn-outline">
                <i class="fa-brands fa-linkedin"></i> LinkedIn Profile
              </a>
            </div>
      </div>
      
      
    </div>
  </div>
</section>
